In [1]:
from pycocotools.coco import COCO
import pandas as pd
import cv2, requests, io
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("genderCorr.csv")
df.head()

,image_id,female_indicator,male_indicator,1,2,3,4,5,6,7,...,81,82,83,84,85,86,87,88,89,90
0,139,1,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0
1,785,1,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,872,0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,885,0,1,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000,0,0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
instancesFile = 'annotations/instances_val2017.json'
annFile = 'annotations/captions_val2017.json'
cocoInstances = COCO(instancesFile)
cocoAnn = COCO(annFile)

loading annotations into memory...
Done (t=0.61s)
creating index...
index created!
loading annotations into memory...
Done (t=0.04s)
creating index...
index created!

In [140]:
# get image ids for male subset
object = '32'
subset = df[df[object] > 0]
subset = subset[subset['male_indicator'] == 1]
imgIds = subset['image_id'].tolist()
annIds = cocoAnn.getAnnIds(imgIds=imgIds)

In [4]:
# get image ids for female subset
object = '82'
subset = df[df[object] > 0]
subset = subset[subset['female_indicator'] == 1]
imgIds = subset['image_id'].tolist()
annIds = cocoAnn.getAnnIds(imgIds=imgIds)

In [5]:
imgIds

[139,
 22705,
 24243,
 52996,
 144003,
 150417,
 213547,
 231339,
 280918,
 280930,
 441247,
 456662,
 459954,
 485844]

In [221]:
i = 14
img = cocoInstances.loadImgs(imgIds)[i]
img_data = io.BytesIO(requests.get(img['coco_url']).content)
img = cv2.imdecode(np.frombuffer(img_data.read(), np.uint8), 1)
plt.imshow(img[...,::-1])
print('Image Id: {0}'.format(imgIds[i]))

IndexError: list index out of range

In [218]:
filename = 'images/m_m_{0}_{1}.jpg'.format('refrigerator', imgIds[i])
cv2.imwrite(filename, img)
print(filename)

images/m_m_refrigerator_456662.jpg